<!DOCTYPE html>
<html>
  <head>
    <title>
      {{name}}
    </title>

    <!-- <link rel="stylesheet" type="text/css" href="https://netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css"> -->
    <link rel="stylesheet" type="text/css" href="../vendor/css/bootstrap.min.css">

    <style>
      @media print {
        a[href]:after {
          content: none;
        }
      }

      .header-handle {
        content-align: center;
      }

      .contact-header {
        text-align: right;
      }

      .page {
        width: 800px;
        margin-left: auto;
        margin-right: auto;
      }

      .resume-section-description {
        display: table-cell;
      }

      .resume-section-heading {
        display: table-cell;
        border-right: 1px solid #999;
      }

      h4 em.footnote {
        font-size: 90%;
      }

      div.row.resume-section {
        margin-bottom: 10px;
      }

      h1 {
        font-size: 36px;
        font-weight: bold;
        letter-spacing: -2px;
        display:inline;
      }

      h1, h2, h3 {
        margin-top: 10px;
      }

      a {
        color: #999;
        text-decoration: none;
        border-bottom: 1px dotted #999;
      }

      a:hover {
        border-bottom-style: solid;
        color: black;
      }

      .alignright {
        float: right;
        display:inline;
      }

      .vcard {
        display: inline;
      }

    </style>
  </head>
  <body>
    <div class="page col-xs-12">
      <div id="contact-info col-xs-12" class="vcard">
        <h1 class="fn">Avi Itskovich (<a href="http://www.github.com/aitskovi">aitskovi</a>)</h1>
        <p class = "alignright"><a class="email" href="mailto:aitskovi@uwaterloo.ca">aitskovi@uwaterloo.ca</a></p>
      </div>

      <div class="col-xs-12">
        <div class="row">
          <h3>Experience</h3>
        </div>

        <div class="table">
        {{#experience}}
        <div class="row resume-section">
          <div class="col-xs-4 resume-section-heading">
            <h4>
              {{workplace}} <br/>
              <small>{{position}}</small><br/>
              <small>{{dates}}</small><br/>
              <small><em class="footnote">{{tools}}</small></em>
            </h4>
          </div>
          <div class="col-xs-8 resume-section-description">
            <ul>
              {{#description}}
              <li>{{.}}</li>
              {{/description}}
            </ul>
          </div>
        </div>
        {{/experience}}
      </div>

        <div class="row">
          <h3>Open Source</h3>
        </div>

        {{#open_source}}
        <div class="row resume-section">
          <div class="col-xs-4 resume-section-heading">
            <h4>
              {{project}}<br/>
              <small>{{role}}</small>
            </h4>
          </div>
          <div class="col-xs-8 resume-section-description">
            <ul>
              <li>{{description}}</li>
            </ul>
          </div>
        </div>
        {{/open_source}}

        <div class="row">
          <h3>Education</h3>
        </div>

        <div class="row resume-section">
          {{#education}}
          <div class="col-xs-4 resume-section-heading">
            <h4>{{school}} <small>{{dates}}</small></h4>
          </div>
          <div class="col-xs-8 resume-section-description">
            <ul>
              <li>{{description}}</li>
            </ul>
          </div>
          {{/education}}
        </div>
      </div>
    </div>
  </body>
</html>
