<!DOCTYPE html>
<html>
  <head>
    <title>
      {{name}}
    </title>

    <!-- <link rel="stylesheet" type="text/css" href="https://netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css"> -->
    <link rel="stylesheet" type="text/css" href="../vendor/css/bootstrap.min.css">

    <style>
      @media print {
        a[href]:after {
          content: none;
        }

        .header h2 {
          margin-top: 0px;
        }
      }

      h4 em.footnote {
        font-size: 90%;
      }

      div.row.resume-section {
        margin-bottom: 10px;
      }

      .resume-section-row {
        display: table-row;
      }

      .resume-section-cell {
        display: table-cell;
      }

      h1, h2, h3 {
        margin-top: 5px;
      }

      .header h2 {
        font-size: 36px;
      }

      ul.no-dots {
        list-style: none;
      }
    </style>
  </head>
  <body>
    <div class="container">
      <div class="col-xs-12">
        <div class="row header">
          <div class="col-xs-8">
            <h2>{{name}} <small>(aitskovi)</small></h2>
          </div>
          <div class="col-xs-4 text-right">
            <em><a href="mailto:{{email}}">{{email}}</a></em> <br/>
            <em><a href="github.com/{{github}}">github.com/{{github}}</a></em>
          </div>
        </div>

          <h3>Experience</h3>

          {{#experience}}
          <div class="resume-section-row">
            <div class="resume-section-cell">
              <h4>
                {{workplace}} <br/>
                <small>{{position}}</small><br/>
                <small>{{dates}}</small><br/>
                <small><em class="footnote">{{tools}}</small></em>
              </h4>
            </div>
            <div class="resume-section-cell">
              <ul>
                {{#description}}
                <li>{{.}}</li>
                {{/description}}
              </ul>
            </div>
          </div>
          {{/experience}}

          <h3>Open Source</h3>

          {{#open_source}}
          <div class="resume-section-row">
            <div class="resume-section-cell">
              <h4>
                {{project}}<br/>
                <small>{{role}}</small><br/>
              </h4>
            </div>
            <div class="resume-section-cell">
              <ul class="no-dots">
                <li>{{description}}</li>
                <li><small><em class="footnote"><a href="{{page}}">{{page}}</a></small></em></li>
              </ul>
            </div>
          </div>
          {{/open_source}}

          <h3>Education</h3>

          {{#education}}
          <div class="resume-section-row">
            <div class="resume-section-cell">
              <h4>{{school}}<br/> <small>{{dates}}</small></h4>
            </div>
            <div class="resume-section-cell">
              <ul class="no-dots">
                <li>{{description}}</li>
              </ul>
            </div>
          </div>
          {{/education}}
      </div>
    </div>
  </body>
</html>
